body { background: #000; font-family: monospace; }
.pad-top { padding-top: 20px; }
.btn.btn-default, .list-group-item { border-radius: 0; border: 0; background: #343434; color: lime; }
.list-group-item:first-child, .list-group-item:last-child { border-radius: 0; }
.list-group-item a { color: orangered; }
